:root {
  /* --brand-color: #3f51b5; */
  --header-color: #2e2f42;
  --main-text-color: #434455;
  --main-text-font-size: 16px;
  --hover-and-background-color: #404bbf;
  --brand-color: #4d5ae5;

}
ul {
  list-style-type: none;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
  font-size: var(--main-text-font-size) ;
  color:var(--main-text-color);
  font-weight: 400;
  line-height: 1.5

}
h1,h2,h3,h4,h5,h6 {
  text-transform: capitalize;
  color: var(--header-color);
  font-weight: 500;
}
a {
  text-decoration: none;
}
a:hover, a:focus {
  color: var(--hover-and-background-color)
}
.filter-buttons button {
  font-family: inherit;
  cursor: pointer;
  background-color: #F4F4FD;
  letter-spacing: 0.04em;
  color: var(--brand-color);
  font-weight: 500;
  font-size: var(--main-text-font-size);
  line-height: 1.5
}
.filter-buttons button:hover,  .filter-buttons button:focus{
  background-color: var(--hover-and-background-color);
  color: #fff;
}


.logo {  
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--brand-color);
}

.nav-menu {
  font-weight: 500;
}
.nav-contacts a {
  color: var(--main-text-color) ;
  font-style: normal;
}

.benefits h3, .dev-benefits {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.logo span{
  color: #2e2f42;
}

.list {
  list-style: none;
}
.current{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--header-color);
}

.link {
  text-decoration:none;

}
.link:hover, link:focus {
  color:var(--hover-and-background-color);
}

.address-contacts {
  font-style: normal;
}
.description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.first-section {
  background-color: var(--header-color);
}

.first-section-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.services-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.section-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center
}

.footer {
  background-color: var(--header-color)
}
.footer-logo {
  color: f4f4fd;
}
